{{ define "main" }}
<main class="pa3 pa4-ns w-100 w-70-ns center">

  {{ with .Title }}
    <h1 class="f2 lh-title">{{ . }}</h1>
  {{ end }}

  {{ with .Content }}
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{ . }}
    </section>
  {{ end }}

  <section class="flex-ns flex-wrap justify-around mt5">
    {{ range .Paginator.Pages }}
      <article class="mv4 w-100 w-30-l ph3">
        <header>
          <h2 class="f3 lh-title">
            <a href="{{ .RelPermalink }}" class="link dim dark-gray">
              {{ .Title }}
            </a>
          </h2>

          {{ with .Date }}
            <p class="f6 gray mt1 mb0">{{ .Format "2006-01-02" }}</p>
          {{ end }}
        </header>

        {{ with .Params.description }}
          <p class="lh-copy mt2">
            {{ . }}
          </p>
        {{ end }}
      </article>
    {{ end }}
  </section>

  {{ template "_internal/pagination.html" . }}

</main>
{{ end }}
